body { 
  background: url(bgop.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
}

.content {
	margin-top: 100px;
	/*vertical-align: middle;*/
	/*text-align: center;*/
}

.masthead {
	margin-left: 20px;
}

.logo {
	margin: 20px 0px 0px 10px;
	width: 80px;
}

.login-div {
	text-align: center;
}

.login {
	background-position: center;
/*	position: width/2;
	position: center;*/
	margin:auto;
	width: 280px;
/*	padding-top: 50px;*/
	cursor: pointer;
}

.text {
	text-align: center;
	padding: 30px 30px 30px 30px;
/*    border-radius: 12px;
    background-color: white;
    opacity: 0.5;*/
}

p{
	font-family: 'Oswald', sans-serif;
	/*font-family: "Open Sans Light";*/

	font-size: 40px;
	font-style: normal;
	font-variant: normal;
/*	font-weight: 500;*/
	line-height: 26.4px;
}

#indexQuestion{
	top:-20px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	/*font-family: "Open Sans Light";*/

	font-size: 40px;
	font-style: normal;
	font-variant: normal;
/*	font-weight: 500;*/
	line-height: 26.4px;
}